fish/fish_variables
.DS_Store
nvim/pack
nvim/lazy-lock.json
*.swp
.vscode
docker-compose.override.yml
compose.override.yml

# Ignore all for Claude Code instructions, except this repo's own
.claude
CLAUDE.md
!/claude/CLAUDE.md
